.slick-dots {
    li {
        margin: 0;
        button {
            text-indent: -100000px;
            height: 8px;
            width: 8px;
            border: 0;  
            padding: 0;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 50%;
            background: #d6d6d6;
        }
    }
}

.slick-dots li.slick-active button {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #fc4902;
}
